 <main>
    <article class="Main-Todo-Layout">
      <h1 class="TodoPage-title">My Todo-list</h1>
      <section class="Todo-new">
        <input class="Todo-text" type="text" placeholder="What's Next ">
        <input class="Todo-date" type="date">
        <input class="Todo-AddButton" type="button" value="Add">
      </section>
      <%= render partial: "todo-section",locals: {
        section_title: "Overdue",
        todos: Todo.overdue,
        show_due_date: true
        } %>
      <%= render partial: "todo-section",locals: {
        section_title: "Due Today",
        todos: Todo.due_today,
        show_due_date: false
        } %>
      <%= render partial: "todo-section",locals: {
        section_title: "Due Later",
        todos: Todo.due_later,
        show_due_date: true
        } %>
      </article>
 </main>
